/**
 * Created by daniel.colquhoun on 23/11/2016.
 */
.THIS .system-error .slds-form-element__label{
    color:#FF0000!important;
}

.THIS .hide-label .slds-form-element__label{
    display:none!important;

}

.THIS .disabled
{
     border-top: none;
    border-bottom: none;
    overflow: hidden;
    color: rgb(22, 50, 92);
    display: block;
    font-size: 13px;
    height: 58px;
    line-height: 19.5px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 16px;
    margin-top: 0;
    padding-bottom: 4px;
    padding-right: 8px;
    padding-top: 8px;
    text-size-adjust: 100%;
    vertical-align: top;
    word-wrap: break-word;
}

.THIS .disabled .slds-input[disabled] {
    border:0px;
    background-color: #ffffff;
    padding: 0;
    line-height: 19.5px;
    min-height:0px;
    cursor: inherit;


}

.THIS .disabled .slds-form-element__label
{
    margin-bottom:0px;
}

.THIS .disabled .slds-input {
     border:0px;
     opacity:0.66;
     background-color: #ffffff;
     padding: 0;
     line-height: 19.5px;
     min-height:0px;
}

.THIS .number-align .list-item-body{
    text-align:right;
}
.THIS .number-align .slds-input{
    text-align:right;
}

.THIS .bold .list-item-body{
    font-weight: 600;
}
.THIS .bold .slds-input{
    font-weight: 600;
}