/**
 * Created by dancolq on 23/08/2016.
 */
.THIS {
    margin-bottom:15px;

}
.THIS .slds-section-title--divider
{
    width:100%;
    margin-bottom:15px;
    border-radius: .25rem;
    padding:0px!important;
}

.THIS .header
{

    background-color: inherit;
    color: rgb(22, 50, 92);
    font: 300;
    font-size: 0.9rem;
    line-height: 1;
    margin: 0;
    text-transform: none;
    padding: 0;
    display: inline-block;
    border: none;
    width:100%

}

.THIS .header-row
{
    display: flex;
    justify-content: space-between;
}

.THIS .title
{
    width:100%;
    display: inline-block;
    height:100%;
     max-width: 100%;
     padding: .75rem 1rem;
}

.THIS .toggleGridStyle
{

        flex: none;
        margin-left: 8px;
        padding: .75rem 1rem;
}


.THIS .content-display
{
    padding-left: 1rem;
    -webkit-transition: bottom .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: bottom .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.THIS .content-hide
{
    display:none!important;
    -webkit-transition: bottom .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: bottom .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}