/**
 * Created by ansja02 on 10/21/16.
 */
.THIS {
    position: absolute;
    z-index: 100;
    height: 100%;
    width: 100%;
}


@media (min-width: 48em) {
    .THIS  {
        margin-left: 8rem!important;
        width:75%!important;
    }
}