/**
 * Created by ansja02 on 11/3/16.
 */

.THIS {
    background-color: white;
    border-bottom: 1px solid rgb(244, 246, 249);
}

.THIS .sl-record-action-icon {
    width: 2rem;
    height: 2rem;
    text-align: center;
    border-radius: 1rem;
}

.THIS .sl-record-icon {
    padding: 0.25rem;
}