/**
 * Created by dancolq on 16/08/2016.
 */
.THIS .slds-form-element{
        margin: 0 1rem;
}
.THIS .overlay
{
    opacity:0.3;
}

.THIS .placeholder
{
    opacity:0.75;
}
.THIS .placeholder-button-group{
    display:inline-block;

}
.THIS .placeholder-button:first-child {
    border-radius: 12rem 0 0 12rem;
}
.THIS .placeholder-button:last-child {
    border-radius: 0 12rem 12rem 0;
}

.THIS .placeholder-button{

    margin-bottom: .9rem!important;
    background-color: rgb(224, 229, 238)!important;
    height: 1.1rem!important;
    position: relative;
    display: inline-block;
    font-size: .75rem;
    line-height: 1.1rem;
    width: 45px;
}