/**
 * Created by ansja02 on 11/15/16.
 */
.THIS {
}

.THIS .sl-items-padding {
    padding-bottom: 32px;
}

.THIS .sl-items-pulltoshowmore {
    height: 50px;
}

.THIS .sl-items-releasetoshowmore {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

.THIS .sl-table-overflow {
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-transition: -webkit-transform .3s,visibility .3s;
    transition: transform .3s,visibility .3s;
    visibility: visible;
    max-width: 512px;
    width: 100%;
    margin: 0 auto;
}

.THIS .sl-tableoverflowlist-outer {
    height: 100%;
    display: block;
    width: 100%;
    font-size: 12px;
    box-shadow: none;
    border-radius: 0;
    background-color: transparent;
    overflow: hidden;
}

.THIS .sl-tableoverflowlist-inner {
    height: 100%;
    display: block;
    width: 100%;
    font-size: 12px;
    box-shadow: none;
    border-radius: 0;
    background-color: transparent;
    overflow: hidden;
}

.THIS .sl-scrollable {
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.THIS .sl-uiscroller {
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    position: relative;
    width: 100%;
    height: 100%;
}

@media (min-width: 48em) {
    .THIS .sl-uiscroller {
        width:75%!important;
    }
}

.THIS .sl-scroller {
    top:0;
    width: 100%;
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}

@media (min-width: 48em) {
    .THIS .sl-scroller {
        margin-left: 8rem!important;
    }
}


.THIS .sl-scroller-start {
    transform: translate3d(0px, 0px, 0px);
}

.THIS .sl-overflowSpacer {
     width: 100%;
     border: none;
     background: none;
     height: 184.5px;
}