/**
 * Created by ansja02 on 12/6/16.
 */
.THIS .sl-dueling-lists .sl-list-container {
    width: 180px;
}

.THIS .sl-dueling-lists .sl-actions-container {
    text-align: center;
    margin: 0 .5rem 0 .5rem;
}

.THIS .sl-dueling-lists {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.THIS .sl-dueling-lists .sl-list-container, .THIS .sl-dueling-lists .sl-actions-container {
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
}

.THIS .sl-dueling-lists .sl-list-container {
    color: rgb(22, 50, 92);
    width: 180px
}

.THIS .sl-dueling-lists .sl-listLabel {
    padding-bottom: .5rem
}

.THIS .sl-dueling-lists .sl-list-container .duelingSelect {
    margin-top: .5rem;
    height: 200px;
    width: 100%;
    padding: 0;
    overflow: scroll
}

.THIS .sl-dueling-lists option {
    padding: .25rem .5rem;
    font-size: 0.8125rem;
    line-height: 1.5
}

.THIS .sl-dueling-lists option:hover {
    background-color: rgb(244, 246, 249)
}

.THIS .sl-dueling-lists .sl-actions-container  {
    text-align: center;
    margin: 0 .5rem 0 .5rem
}

.THIS .sl-dueling-lists .sl-actionSeparator {
    margin-bottom: 1rem
}

.THIS .sl-dueling-lists button:hover,
.THIS .sl-dueling-lists button:focus {
    background-color: rgb(244, 246, 249);
    color: rgb(0, 112, 210) !important;
}

.THIS .sl-dueling-lists .sl-actions-container svg {
    height: 1.25rem;
    width: 1.25rem;
    margin: 0.25rem;
}